@import "tailwindcss";

:root {
  --color-frame: #f5f5f5;
  --color-back: #fff;
  --color-front: #070707;
  --color-border: #ccc;
  --color-danger: red;
  --color-three: #333;
  --color-good: #009843;
  --color-shadow: #C2C2C240;
  --color-bk-red: #E1232E;
  --color-five: #555555;
}

@theme inline {
  --color-frame: var(--color-frame);
  --color-back: var(--color-back);
  --color-front: var(--color-front);
  --color-border: var(--color-border);
  --color-danger: var(--color-danger);
  --color-three: var(--color-three);
  --color-good: var(--color-good);
  --color-shadow: var(--color-shadow);
  --color-bk-red: var(--color-bk-red);
  --color-five: var(--color-five);
  --font-poppins: var(--font-poppins);
  --font-nunito: var(--font-nunito);
}

@layer base {
  body {
    background: var(--color-frame);
    color: var(--color-front);
  }
  * {
    border-color: var(--color-border);
  }
}

* {
  line-height: 160%;
}
