@import "tailwindcss";

:root {
  --color-frame: oklch(0.97 0 0);
  --color-back: oklch(1 0 0);
  --color-front: oklch(0.129 0 0);
  --color-front-gray: oklch(0.341 0 0);
  --color-border: oklch(0.845 0 0);
  --color-three: oklch(0.321 0 0);
  --color-good: oklch(0.594 0.165 149.566);
  --color-shadow: oklch(0.814 0 0 / 0.251);
  --color-bk-red: oklch(0.585 0.22 25.357);
  --color-five: oklch(0.45 0 0);
  --color-smart: oklch(0.587 0.171 147.691);
  --color-light-gray: oklch(0.961 0 0);
  --color-dark-gray: oklch(0.907 0 0);
  --color-e3: oklch(0.949 0 0);
  --color-fa: oklch(0.985 0 0);
  --color-success-50: oklch(0.971 0.021 161.486);
  --color-success-100: oklch(0.942 0.042 161.686);
  --color-success-200: oklch(0.886 0.083 160.241);
  --color-success-300: oklch(0.832 0.121 158.18);
  --color-success-400: oklch(0.781 0.157 155.847);
  --color-success-500: oklch(0.723 0.192 149.579);
  --color-success-600: oklch(0.627 0.17 149.214);
  --color-success-700: oklch(0.527 0.137 150.069);
  --color-success-800: oklch(0.448 0.108 151.328);
  --color-success-900: oklch(0.393 0.09 152.535);
  --color-danger-50: oklch(0.971 0.013 17.38);
  --color-danger-100: oklch(0.936 0.031 17.717);
  --color-danger-200: oklch(0.885 0.059 18.334);
  --color-danger-300: oklch(0.808 0.103 19.571);
  --color-danger-400: oklch(0.711 0.166 22.216);
  --color-danger-500: oklch(0.637 0.208 25.331);
  --color-danger-600: oklch(0.577 0.215 27.325);
  --color-danger-700: oklch(0.505 0.19 27.518);
  --color-danger-800: oklch(0.444 0.161 26.899);
  --color-danger-900: oklch(0.396 0.133 25.723);
  --color-warning-50: oklch(0.987 0.026 102.212);
  --color-warning-100: oklch(0.973 0.069 103.193);
  --color-warning-200: oklch(0.945 0.124 101.54);
  --color-warning-300: oklch(0.905 0.166 98.111);
  --color-warning-400: oklch(0.861 0.173 91.936);
  --color-warning-500: oklch(0.795 0.162 86.047);
  --color-warning-600: oklch(0.681 0.142 75.834);
  --color-warning-700: oklch(0.554 0.121 66.442);
  --color-warning-800: oklch(0.476 0.103 61.907);
  --color-warning-900: oklch(0.421 0.09 57.708);
  --color-primary-50: oklch(0.97 0.014 254.604);
  --color-primary-100: oklch(0.932 0.032 255.585);
  --color-primary-200: oklch(0.882 0.057 254.128);
  --color-primary-300: oklch(0.809 0.096 251.813);
  --color-primary-400: oklch(0.714 0.143 254.624);
  --color-primary-500: oklch(0.623 0.188 259.815);
  --color-primary-600: oklch(0.546 0.215 262.881);
  --color-primary-700: oklch(0.488 0.217 264.376);
  --color-primary-800: oklch(0.424 0.181 265.638);
  --color-primary-900: oklch(0.379 0.138 265.522);
}

@theme inline {
  --color-frame: var(--color-frame);
  --color-back: var(--color-back);
  --color-front: var(--color-front);
  --color-front-gray: var(--color-front-gray);
  --color-border: var(--color-border);
  --color-danger: var(--color-danger);
  --color-three: var(--color-three);
  --color-good: var(--color-good);
  --color-shadow: var(--color-shadow);
  --color-bk-red: var(--color-bk-red);
  --color-five: var(--color-five);
  --color-smart: var(--color-smart);
  --color-e3: var(--color-e3);
  --color-fa: var(--color-fa);
  --color-light-gray: var(--color-light-gray);
  --color-dark-gray: var(--color-dark-gray);
  --color-success-50: var(--color-success-50);
  --color-success-100: var(--color-success-100);
  --color-success-200: var(--color-success-200);
  --color-success-300: var(--color-success-300);
  --color-success-400: var(--color-success-400);
  --color-success-500: var(--color-success-500);
  --color-success-600: var(--color-success-600);
  --color-success-700: var(--color-success-700);
  --color-success-800: var(--color-success-800);
  --color-success-900: var(--color-success-900);
  --color-danger-50: var(--color-danger-50);
  --color-danger-100: var(--color-danger-100);
  --color-danger-200: var(--color-danger-200);
  --color-danger-300: var(--color-danger-300);
  --color-danger-400: var(--color-danger-400);
  --color-danger-500: var(--color-danger-500);
  --color-danger-600: var(--color-danger-600);
  --color-danger-700: var(--color-danger-700);
  --color-danger-800: var(--color-danger-800);
  --color-danger-900: var(--color-danger-900);
  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
}

@theme inline {
  --breakpoint-xs: 480;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-nunito: var(--font-nunito);
  --font-noto-sans-km: var(--font-noto-sans-km);
}

@layer base {
  body {
    background: var(--color-frame);
    color: var(--color-front);
  }

  * {
    border-color: var(--color-border);
    @apply transition-all;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
  }
}

@layer base {
  [data-sonner-toast][data-type="success"] svg {
    @apply text-success-500;
  }

  [data-sonner-toast][data-type="warning"] svg {
    @apply text-warning-500;
  }

  [data-sonner-toast][data-type="error"] svg {
    @apply text-danger-500;
  }
}

* {
  line-height: 160%;
}

@utility tran-bg-back {
  @apply bg-back hover:bg-light-gray active:bg-dark-gray;
}

@utility tran-bg-front {
  @apply bg-front hover:bg-front-gray active:bg-five;
}

@utility tran-bg-back-danger {
  @apply bg-back hover:bg-danger-50 active:bg-danger-100;
}

@utility tran-bg-danger {
  @apply bg-danger-600 hover:bg-danger-500 active:bg-danger-400;
}

@utility tran-bg-transparent {
  @apply bg-transparent hover:bg-light-gray active:bg-fa;
}
